*{
    box-sizing: border-box;
}

html{
    height: 100%;
    cursor: default;
}

body{
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
    font-family: 'Signika', sans-serif;
}

h1, h2, h3{
    font-weight: 300;
}
.site-header{
    background-color: #40596b;
    margin: 0px auto;
}

.main-nav{
    display: block;
    margin: 0;
}

.container{
    font-size: 1.25em;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 1rem;
}

ul{
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    margin: 0;
}

.main-nav li{
    margin-right: 10px;
    list-style: none;

}

.main-nav li a{
    text-decoration: none;
    color: #ffd05a;
    transition: color .3s ease-in-out;
}

.main-nav li a:hover{
    color: white;
}

main{
    display: block;
}

.page{
    margin: 0;
    padding: 1rem;
}

.hero{
    margin: 0;
    align-items: center;
    background-color: #55c0ec;
    justify-content: center;
}


.container{
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 1.25rem;
    padding: 0 1rem;
    
}

.container-flex{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    
}

.container-flex>*{
    margin: 1rem;
    min-width: 300px;
}

.hero_description{
    text-align: center;
    height: 100%;
}

.hero_description h1{
    color: rgba(0, 0, 0, .6);
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 2rem;
    letter-spacing: -.1875rem;
    margin: 0;
}

<<<<<<< HEAD
.hero_description strong{
    color: rgba(0, 0, 0, .65);
}

strong{
    font-weight: 600;

}

.slogan{
    color: #fff;
    font-size: 1.675rem;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 2rem;
}

.reveal-item-visible{
    opacity: 1;
    transform: translateY(0);
}

.btn-cta{
    align-items: center;
    background-color: #fff;
    border:0;
    border-radius: 4px;
    display: flex;
    font-size: 1.75rem;
    line-height: 1;
    max-width: 300px;
    padding: 1rem;
    margin: 0 auto;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.btn-cta img{
    padding: 0;
    margin: 0 1rem 0 0;
    width: 2.5rem;
    
}

img{
    border-style: none;
}

.page__title{
    flex-basis: 100%;
    font-size: 2.5rem;
    letter-spacing: -.125rem;
    line-height: 1.25;
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
}

.page__title:after{
    background-color: #55c0ec;
    bottom: 0;
    content:"";
    height: 3px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 160px;
}

.half_page{
    columns: 2;
    list-style-type: none;
    margin: 0;
}

.half_page li{
    width: 80%;
    line-height: 2rem;
    /* padding: 5px; */
}

.container--flex>*{
    margin:1rem;
    min-width: 300px;
}

.hero_bot{
    display: flex;
    height: 400px;
    width: 544px;
    justify-content: center;

}

.hero_bot svg{
    height: auto;
    max-width: 400px;
    width: 100%;
}
=======


#howitworks{
    margin: 0;
    align-items: center;
    background-color: #90ddaa;
    align-items: center;
    justify-content: center;
    padding: 10pt;
}

.description{
    text-align: center;
    height: 100%;
}

.description h1{
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2rem;
    letter-spacing: -.3875rem;
    margin: 0;
}

>>>>>>> 937aa680fe69ceaf798aecaa47baee36b282c609
